importFrom(tools, "write_PACKAGES")
importFrom(utils, "untar", "unzip", "contrib.url")
importFrom(stringr, "str_extract")
export(addRepo,
       initRepo,
       insertPackage,
       pruneRepo,
       archivePackages)
