importFrom(tools, "write_PACKAGES", "update_PACKAGES")
importFrom(utils, "untar", "unzip", "contrib.url")
export(addRepo,
       initRepo,
       insertPackage,
       insertPackages,
       getRepoInfo,
       pruneRepo,
       pruneRepoForAllRversions,
       updateRepo,
       archivePackages,
       archivePackagesForAllRversions)
